<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Вход</title>
</head>
<body>
    <main>
	<h1>Вход</h1>
	<form method="post">
        <input
            type="text"
            name="user"
            value="{{ . }}"
            placeholder="Имя"
            />
		<br/>
        <input
            type="text"
            name="room"
            placeholder="Номер комнаты"
            />
		<br/>
        <button>Войти</button>
    </form>
	</main>
	<h5>Сайт использует куки</h5>
</body>
</html>
